# Ignore everything
*

# But don't ignore the _bmad directory and its contents
!_bmad/
!_bmad/**
!README.md
!.clinerules/
!.clinerules/**
!folder_structure.md

.claude\*

# Also don't ignore .gitignore itself
!.gitignore
